includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - mddb-sync.php
        - includes
    excludePaths:
        - vendor
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
